name: Deploy Next.js App

on:
  push:
    branches: ["main"]

env:
  NODE_ENV: production
  PORT: 3000
  APP_NAME: tylers-website

jobs:
  deploy:
    runs-on: main

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install and build
        run: |
          npm ci
          npm run build

      - name: Deploy App
        run: |
          echo "Restarting app with PM2"
          if pm2 list | grep -q $APP_NAME; then
            pm2 restart $APP_NAME
          else
            pm2 start npm --name $APP_NAME -- start -- --port=$PORT
          fi
          pm2 save
