name: Deploy Next.js App

on:
  push:
    branches: ["main"]

env:
  PORT: 3000
  APP_NAME: tylers-website
  HOME: /root

jobs:
  deploy:
    runs-on: main
    environment: PROD

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Create .env file
        run: |
          cat <<EOF > .env
          DATABASE_URL=${{ secrets.DATABASE_URL }}
          NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
          NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
          EOF

      - name: Install and build
        run: |
          npm cache clean --force
          rm -rf node_modules
          npm install
          npm run build

      - name: Deploy App
        run: |
          if pm2 list | grep -q $APP_NAME; then
            pm2 restart $APP_NAME
          else
            pm2 start npm --name $APP_NAME -- start -- --port=$PORT
          fi
          pm2 save
