name: Deploy Next.js App

on:
  push:
    branches: ["main"]

env:
  PORT: 3000
  APP_NAME: tylers-website

jobs:
  deploy:
    runs-on: main

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install and build
        run: |
          npm ci
          npm run build

      - name: Deploy App
        run: |
          echo "Current directory: $(pwd)"
          echo "GITHUB_WORKSPACE: $GITHUB_WORKSPACE"
          echo "PM2 list before:"
          pm2 list
          if pm2 list | grep -q $APP_NAME; then
            pm2 restart $APP_NAME
          else
            pm2 start npm --name $APP_NAME -- start -- --port=$PORT
          fi
          echo "PM2 list after:"
          pm2 list
          pm2 save
